@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }


.button {
    background-color: #FA6C17;
    padding: 15px 18px;
    font-size: 26px;
    border-radius: 10px ;
    font-weight: 700;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    margin:auto;
    margin-top: 20px ;
}


b:hover{
    color: #FA6C17;
    transition: 0.25s;
    scale: 0.99;
}

.button:hover {
    background-color: #690F69;
    color: #ffffff;
    cursor: pointer;
    transition: 0.25s;
    scale: 0.99;
}