@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@media (max-width: 768px) {

    
    .sectionOne, .faqSection, .sectionContact, .sectionCustomer, .sectionAudio, .sectionUs, .sectionCampaign , .image-container{
            height: auto;
            padding: 20px;
            max-width: 500px;
        }

       .image-container div{
            max-width: 300px;

        }

        .sectionSubtitle {
            font-size: 1.5rem;
        }


        .sectionTitle, .sectionSubtitle{
            width: fit-content;
            margin: auto;
            margin-bottom: 10px;
        }
        
        .sectionSubtitle{
            font-size: 1rem !important;
        }

        .containerTitle{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            max-width: 300px;
        }

        body .button{
            font-size: 1rem;
        }
}



* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }


.sectionOne, .faqSection, .sectionContact, .sectionCustomer, .sectionAudio, .sectionUs, .sectionCampaign {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 800px;
    max-width: 1200px;
    align-self: end;
    align-self: center;
    text-align: center;
    
}


section h2{
    font-size: 3rem;
    font-weight: 700;
    margin: 5px 0px 30px 0px;
}

.sectionSubtitle{
    font-weight: 400;
    font-size: 2rem;
    line-height: 120%;
    text-align: center;
}

.image-container {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.button {
    background-color: #FA6C17;
    padding: 15px 18px;
    font-size: 26px;
    border-radius: 10px ;
    font-weight: 700;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    margin:auto;
    margin-top: 20px ;
}


b:hover{
    color: #FA6C17;
    transition: 0.25s;
    scale: 0.99;
}

.button:hover {
    background-color: #690F69;
    color: #ffffff;
    cursor: pointer;
    transition: 0.25s;
    scale: 0.99;
}

/* Exemplo de como pode estar o arquivo app.css */
.styles-module_avatar__afcc4 img{
    width: 100%;
    background-image: url(https://github.com/LucasJoseArantes/LandingPage-DMVoz/blob/main/src/assets/images/pictures/mainPic.jpg?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }